
.container {
  display: grid;
  /* grid-template-columns: 25%  25% 25% 25% ; */
  grid-template-columns: minmax(0,1fr)  minmax(0,1fr) minmax(0,1fr) minmax(0,1fr);
  justify-items: center;
  align-items: center;
  grid-auto-flow: row;
  
}